#Ignore these folders
biblio
images
Research
sections
Timetable and logbook

#Ignore these files
*.md
*.doc
*.xml

#Ignore these LaTex files
*.aux
*.log
*.bbl
*.blg
*.dvi
*.out
*.gz
*.tdo
*.tex
*.toc
*.odt
